/* qa search page - start */
#qa_search_page {
  form {
    direction: rtl;

    .form-group {
      position: relative;

      input {
        border-radius: 0;
        height: 60px;
        text-indent: 30px;
        font-size: 1em;
        color: $primaryTextColor;
        cursor: default;
        border: 1px solid $borderColor;
        font-family: inherit;
        background-color: transparent;

        &:hover {
          border-color: $hoverBorderColor;
          box-shadow: none;
        }

        &:focus {
          border-color: $focusBorderColor;
          box-shadow: none;
        }
      }

      i.icon-x {
        position: absolute;
        top: 13px;
        left: 5px;
        color: $secondaryTextColor;
        cursor: pointer;
      }

      button[type=submit] {
        position: absolute;
        width: auto;
        right: 0;
        top: 0;
        height: 60px;
        background-color: transparent;
        border: none;
        color: $secondaryTextColor;
      }

      i {
        font-size: 2em;
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }

  .most-popular-questions {
    margin: 50px auto;
    width: 80%;

    h2 {
      text-align: center;
    }
  }
}

.answers-list {
  ul {
    display: none;
  }
}

.alert {
  display: none;
  text-align: center;
  flex-flow: row wrap;
  justify-content: center;
}

// Dot Pulse
.loading-dots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
  animation: ellipsis steps(4, end) 1500ms infinite;
  content: "\2026"; // ascii code for the ellipsis character
  width: 0;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

/* qa search page - end */