// variables-start
$primaryColor: #235e8a;
$primaryTextColor: #424242;
$secondaryTextColor: #757575;
$backgroundColor: #fafafa;
$shadowColor: #bdbdbd;
$lightGray: #DCDCDE;
$borderColor: #ddd;
$hoverBorderColor: #ccc;
$focusBorderColor: #3595f6;
//$textFont : iranyekan,Arial,Sans-serif;
// variables-end


