// variables-start
$primaryColor: #235e8a;
$primaryTextColor: #424242;
$secondaryTextColor: #6d7d8f;
$backgroundColor: #fafafa;
$shadowColor: #bdbdbd;
$lightGray: #f0f0f1;
//$textFont : iranyekan,Arial,Sans-serif;
// variables-end