// variables-start
$primaryColor: #235e8a;
$primaryTextColor: #424242;
$secondaryTextColor: #424242;
$backgroundColor: #fafafa;
$shadowColor: #bdbdbd;
$lightGray: #DCDCDE;
//$textFont : iranyekan,Arial,Sans-serif;
// variables-end


